<h1>Edit a Comic in the Database</h1>

<div class = "center-image">
  <img src="<%= @comic.image %>">
</div>

<div class = "form-subway-card">
<%= form_tag "/comics/#{Product.", method: :patch do%>
  <div>
    <label name= "comic_name">Name:</label>
    <input type="text" name="comic_name" value="<%=@comic.name%>">
  </div>

  <div>
    <label name="comic_price">Price:</label>
    <input type="text" name="comic_price" value="<%=@comic.price%>">
  </div>

  <div>
    <label name="comic_image">Image url:</label>
    <input type="text" name="comic_image" value="<%=@comic.image%>">
  </div>

  <div>
    <label name="comic_description">Description:</label>
    <input type="text" name="comic_description" value="<%=@comic.description%>">
  </div>
  <div class = "scan-bar">
    <label name="submit_button">
    <input type="submit" name="submit">
    </label>
<% end %>

<%= form_tag "/comics/#{@comic.id}", method: :delete do %>
  <input type="submit" name="delete" value="DELETE THIS COMIC">
<% end %>
</div>
</div>

