<h1> Comic Info </h1>
<div class = "subway-seat">
<p><%= @comic.name %></p>
<p> <img src="<%=@comic.image %>"></p>
<p><%= @comic.price %> <%= @comic.under_2 %> </p>
<p><%= @comic.description %></p>
</div>
